<div class="navbar-cookbook">
  <%= image_tag "logo.jpg", class: "logo" %>
  <div class="nav-links-container">
    <%= link_to "home", root_path, class: "nav-links"%>
    <%= link_to "new category", new_category_path, class: "nav-links"%>
  </div>
</div>
