<h1>All categories</h1>
<%= link_to "Add category", new_category_path %>

<ol>
  <% @categories.each do |category| %>
  <li>
    <%= link_to category.name, category %>
    <%= link_to "delete", category ,data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }  %>
  </li>
  <% end %>
</ol>
