<%= link_to "back", categories_path %>

<div class="container">
  <div class="d-flex justify-content-between align-items-center">
    <h1>Add category</h1>
  </div>

  <div class="form-container">
    <%= simple_form_for(@category,defaults:{input_html: {class:"form-new"}} )do |f| %>
      <%= f.input :name, placeholder: "breakfast, main..." %>
      <%= f.submit "add category", class: "btn btn-warning btn-font-white" %>
    <% end %>
  </div>
</div>
